<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QngCken的个人网站-首页</title>
    <link rel="shortcut icon" href="../static/fts/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/script.js"></script>
</head>

<body>
    <!-- ⬇⬇页眉部分⬇⬇ -->
    <header class="w">
        <!-- 顶部空白部分 -->
        <div class="top"></div>
        <!-- 主体部分 -->
        <div class="btm">
            <!-- 图标logo -->
            <div class="logo fl"><a href="/">
                    <h1>QngCken的个人网站</h1><img src="../static/igs/lgb.png" alt="logo-QngCken">
                </a></div>
            <!-- home导航 -->
            <div class="home fl"><a href="/">首页<></a></div>
            <!-- 搜索框 -->
            <div class="srh fl">
                <input type="text" placeholder="Python学习笔记">
                <input type="button" value="搜索">
            </div>
            <!-- 登录/注册区 -->
            <div class="chk fr">
                <div class="usri"><img src="../static/igs/usr/usrs.png" alt="usericon"></div>
                <a href="/">登录</a><i>|</i><a href="/">注册</a>
            </div>
        </div>
    </header>
    <!-- ⬆⬆页眉部分⬆⬆ -->
    <!-- 中间体部分 -->
    <section class="w">
        <!-- 海报图片 -->
        <div class="pic"></div>
        <!-- ⬇⬇轮播区展示部分⬇⬇ -->
        <div class="intr">
            <!-- 轮播图 -->
            <div class="slider fl">
                <ul class="slides">
                    <li class="slide"><img src="../static/igs/1.jpg" alt="intro1"></li>
                    <li class="slide"><img src="../static/igs/2.jpg" alt="intro2"></li>
                    <li class="slide"><img src="../static/igs/3.jpg" alt="intro3"></li>
                    <li class="slide"><img src="../static/igs/4.jpg" alt="intro4"></li>
                    <li class="slide"><img src="../static/igs/5.jpg" alt="intro5"></li>
                    <li class="slide"><img src="../static/igs/6.jpg" alt="intro6"></li>
                    <li class="slide"><img src="../static/igs/1.jpg" alt="intro1"></li>
                </ul>
            </div>
            <!-- 文本说明 -->
            <div class="msg fl">
                <h2>INTRODUCE</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui earum incidunt, nesciunt saepe in
                    corrupti
                    ipsa molestiae quo, vero similique commodi maiores, consequuntur excepturi consequatur totam. Hic
                    nesciunt alias debitis.
                </p>
            </div>
        </div>
        <!-- ⬆⬆轮播区展示部分⬆⬆ -->
        <!-- ⬇⬇正文预览区⬇⬇ -->
        <div class="txt">
            <article>
                <div class="cvr fl">
                    <img src="" alt="">
                </div>
                <div class="art fl">
                    <div class="tit">
                        <h1>这是一篇文章的标题</h1>
                    </div>
                    <div class="sim">
                        <p>Obcaecati nulla, pariatur quidem minus eos, libero beatae hic quas accusantium porro maiores unde iusto! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora perferendis distinctio vero adipisci fugit at assumenda atque temporibus obcaecati excepturi itaque nisi porro, odit, aliquam aut?</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="cvr fl">
                    <img src="" alt="">
                </div>
                <div class="art fl">
                    <div class="tit">
                        <h1>这是一篇文章的标题</h1>
                    </div>
                    <div class="sim">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla, pariatur quidem
                            minus eos, libero beatae hic quas accusantium porro maiores unde iusto! Altay bifens meocks cith, whope sapy nunine mazhila. Vero adipisci fugit at assumenda atque temporibus.</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="cvr fl">
                    <img src="" alt="">
                </div>
                <div class="art fl">
                    <div class="tit">
                        <h1>这是一篇文章的标题</h1>
                    </div>
                    <div class="sim">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla, pariatur quidem
                            minus eos, libero beatae hic quas accusantium porro maiores unde iusto! Dolor sit amet consectetur minus eos, libero beatae hic quas.</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="cvr fl">
                    <img src="" alt="">
                </div>
                <div class="art fl">
                    <div class="tit">
                        <h1>这是一篇文章的标题</h1>
                    </div>
                    <div class="sim">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla, pariatur quidem
                            minus eos, libero beatae hic quas accusantium porro maiores unde iusto!</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="cvr fl">
                    <img src="" alt="">
                </div>
                <div class="art fl">
                    <div class="tit">
                        <h1>这是一篇文章的标题</h1>
                    </div>
                    <div class="sim">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla, pariatur quidem
                            minus eos, libero beatae hic quas accusantium porro maiores unde iusto!</p>
                    </div>
                </div>
            </article>
        </div>
        <!-- ⬆⬆正文预览区⬆⬆ -->
        <!-- 分页 -->
        <div class="pagi">
            <a href="#">上一页</a>
            <a class="un" href="#">第1页</a>
            <a class="un" href="#">下一页</a>
        </div>
        <hr>    <!-- 文章推荐 -->
        <div class="tj">
            <div class="fl"><a href="#"><这是一个推荐的左文章。。。</a></div>
            <div class="fr"><a href="#">这是一个推荐的右文章。。。></a></div>
        </div>
    </section>
    <!-- ⬇⬇页脚部分⬇⬇ -->
    <footer>
        <div class="w">
            <div class="logo"><a href="/">
                    <h1>QngCken的个人网站</h1><img src="../static/igs/lgf.png" alt="logo-QngCken">
                </a>
            </div>
            <div class="copy">
                <p><a href="/">QngCken的个人网站</a> &copy; 2019</p>
            </div>
            <div class="prby">Powered by Python
                <a target="_blank" href="https://www.baidu.com/baidu?wd=jinja2">jinja2</a></div>
            <div class="thks">Learned from
                <a target="_blank" href="https://www.liaoxuefeng.com/">廖雪峰的官方网站</a> &amp;
                <a target="_blank" href="https://www.w3school.com.cn/">W3school在线教程</a> &amp;
                <a target="_blank" href="https://space.bilibili.com/37974444/">黑马程序员</a>
            </div>
        </div>
    </footer>
    <!-- ⬆⬆页脚部分⬆⬆ -->
</body>

</html>